= form_tag links_path do
  = field_set_tag do
    = label_tag :url, 'Url:'
    = text_field_tag :url
    = submit_tag 'Save'

- @links.each do |link|
  %p
    %h1
      = link_to "[#{link.short_date}]#{link.short_url}", link.url, target: :blank